*,*::before, *::after{ padding: 0; margin: 0; }

body{height: 100%; }
.container{  width: 100%; height: 100%; scroll-behavior: smooth;}

.landing-page,.villian-cards-container,.hero-cards-container{ position: relative; width: 100vw; height: 100vh; background: #fff;}

.slider{ 
    width: 60vw; 
    display:inline-block; margin-left: -9%; overflow: hidden; 
    transform: skewX(-8deg); transition: width 1.2s ease-in-out; pointer-events: none;
    background-attachment: fixed;
}

.box{ height:100vh; width: 100vw; }

.hero-left{ 
    position:  absolute; 
    background: url('https://free4kwallpapers.com/uploads/originals/2020/04/29/marvel-avengers-wallpaper.jpg') no-repeat;
    background-size: cover; color: #fff; font-size:2.5em;
    background-attachment: fixed;
 }

.villian-right{ 
    margin-left:9%; background: url("https://picfiles.alphacoders.com/324/thumb-1920-324874.png") no-repeat; 
    background-size: cover; transform: skewX(8deg); pointer-events: auto; color: #fff; font-size :2.5em;
}


.slider:hover{ width: 85vw; }
.hero-left:hover + .slider{ width: 28vw; }

.hero-choice{ position: absolute; right: 21rem;}
.villian-choice{position: absolute; left: 21rem;}

.hero-btn{ position: absolute !important; right: 7rem; bottom: 7rem; border: 1px solid #fff !important; color: #fff !important;}
.villian-btn{ position: absolute !important; left: 11rem; bottom: 7rem; border: 1px solid #fff !important; color: #fff !important; }
.hero-btn:hover, .villian-btn:hover { transform: scale(1.5); transition: 0.5s ease-in-out; }



.flex{display: flex; justify-content: center; align-items: center;}
.bold{ text-transform: uppercase; }
.big{ font-weight: 800;  }

@media (max-width: 1650px){ 
    .hero-choice{ right: 5rem; font-size:0.7em; }
    .villian-choice{ left: 6rem; font-size:0.7em; }
 }


@media (max-width: 1350px ){
    .slider{ 
        width:100vw; height: 50vh; overflow: auto; display: block;
        transform: none; margin-left: 0; transition: none;
    }

    .slider,.hero-left{ background-attachment: scroll; }

    .hero-left, .villian-right{ height: 50vh; top: 50%; }
    .villian-right{ transform: skewX(0deg); margin-left: 0; }

    .hero-choice, .villian-choice{ left: auto; right: auto; font-size: 0.6em;}

    .hero-btn,.villian-btn{ bottom: 3rem; left:auto; right: auto; }

    .hero-btn:hover, .villian-btn:hover { transform: none; transition: none; }
    .hero-left:hover, .villian-right, .hero-left:hover + .slider{ pointer-events: none; }
    
}


