.villian-cards-container{ background:#4D0091;}

.villian-page-title{ 
    position: absolute; left: 1vw; transform: rotate(270deg);
    font-size: calc(5rem + 1vw); color: #fff;
}

.villian-page-title2{
    position: absolute; right: 1vw; transform: rotate(90deg);
    font-size: calc(5rem + 1vw); color: #fff;
}

@media (max-width: 1700px){
    .villian-page-title{ top: 1rem; left: 2rem; transform: none; font-size: calc(2rem + 1vw); }
    .villian-page-title2{ display: none } 
}
@media (max-width: 650px){ .villian-cards-container{height: 155vh;} }
